[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
djangorestframework = "*"
djangorestframework-jsonapi = "*"
fuzzywuzzy = "*"
django-cors-headers = "*"
python-levenshtein = "*"


[dev-packages]

django-extensions = "*"
pytest = "*"
ipdb = "*"
pytest-watch = "*"
ipython = "*"
neovim = "*"
jedi = "*"
"autopep8" = "*"
yapf = "*"
isort = "*"


[requires]

python_version = "3.6"
